.operations-box {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: hsl(0, 0%, 20%);
    text-align: right;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 25px;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2.5rem;
}

.calculator {   
    width: 600px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.operator-button, .calc-button {
    height: 80px;
    transition: all 0.1s ease-in-out;
    font-size: 2rem;
}

.calc-button:hover {
    transform: scale(1.05);
}

.operator-button {
    background-color: #333333;
    color: white;
    border: 0px;
}

.operator-button:hover {
    background-color: #740d0d;
}

a {
    /* Remove all styles */
    all: unset;
    width: 140px;
    display: flex;
    justify-content: center;
}